<% include ./partials/header.ejs %>

<div class="container">
	<h1>pieces</h1>	
</div>



<% pieces.forEach((piece) => { %>
	<div class="col-md-9 col-sm-12 order-1 order-md-2">
		<img src="<%= piece.image %>">
	</div>
<% }); %>



<% include ./partials/footer.ejs %>