img {
	/*height: 40rem;*/
}

body {
    background: #1b1c1f;
    font-family: "Be Vietnam", san-serif;
    font-weight: 300;
}

h1 {
	color: white;
	margin-top: 4rem;
	margin-bottom: 3rem;
	font-weight: 300;
	margin-right: 0;
}

p, h2 {
	color: white;
	text-align: justify;
}

hr {
	background-color: white;
}

.container {
	padding: 0;
	margin: 0;

}

.showHolder {
	/*margin-left: 2rem;
	margin-right: 2rem;*/
}


#showImage {
/*	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;*/
}


.grid-item {
	overflow: none;
	float: left;
	padding-right: 2rem;
	padding-top: 2rem;
}

.thumbnail img {
	width: 100%;
	height: auto;
}


.thumbnail {
	padding: 0; 
	display: inline-block;
	
}

.thumnail caption-full {
	padding: 0px;


}


.hr {
	background: white;
}

.holder {
	color: white;	
	padding-top: 6rem;
}

.holder img {
	max-width: 100%;
	object-fit: contain;
	padding-left: 0rem;
	padding-right: 0rem;
	margin-bottom: 0;
}


img {
	max-height: 700px;
	-webkit-box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.75);
}

 /*Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text_block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #1b1c1f;
  opacity: 0.8;
  border-radius: 15px 0px 0px 15px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 10px;
  font-weight: 300;
  display: none;
}



.pieceText {
	text-align: justify;
	padding-left: 3rem;
	padding-right: 3rem;
}

/* NAVBAR STYLING */
.navbar {
	background: #1b1c1f;
}

.top-nav li {
	position: right;
}

.navbar-brand {
	font-weight: 300;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 300;
}

.navbar.scrolled {
    background: rgba(0,0,0,0);
    transition: background 1000ms;
}