<% include ./partials/header.ejs %>


<div class="container-fluid row" style="margin-left: 4rem; margin-left: 4rem; margin-top: 4rem">
	<div class="col-md-5 col-sm-12 col-xs-12" style="margin: 0; padding: 0;">
		<img id="pieceImg" class="img-fluid" style="max-height: 650px; margin-bottom: 2rem;" src="<%= piece.image %>">
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12" style="margin-left: 1rem;">	
			<h2><%= piece.name %></h2>
			<hr>
			<h4><%= piece.description %></h4>		
	</div>
</div>

<!-- Zoom in modal -->
<div id="myModal" class="modal">

  <img class="modal-content" id="img01" src="<%= piece.image %>">

  <div id="caption"></div>
</div>



<script>
	
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("pieceImg");
var modalImg = document.getElementById("img01");
// var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

  // Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

 modal.addEventListener("click", ()=>{
  modal.style.display = "none";
 });

</script>


<% include ./partials/footer.ejs %>