<% include ./partials/header.ejs %>




<div class="showImageRow row">
	<div class="col-md-6 col-sm-6">
		<img id="showImage" src="<%= piece.image %>">
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6">
		<h2 style="color: white;"><%= piece.name %></h2>
	</div>
</div>




<% include ./partials/footer.ejs %>