img {
	height: 40rem;
}

body {
    background: #1b1c1f;
    font-family: "Be Vietnam", san-serif;
    font-weight: 300;
}

h1 {
	color: white;
	margin-top: 4rem;
	margin-bottom: 3rem;
	font-weight: 300;
}

img {
	margin-left: 2rem;
	margin-right: 2rem;
	max-width: 80%;
	height: auto;
}

.navbar {
	background: #1b1c1f;
}

.top-nav li {
	position: right;
}

.navbar-brand {
	font-weight: 300;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 300;
}