img {
	height: 40rem;
}

body {
    background: #1b1c1f;
    font-family: "Be Vietnam", san-serif;
    font-weight: 300;
}

h1 {
	color: white;
	margin-top: 4rem;
	margin-bottom: 3rem;
	font-weight: 300;
	margin-right: 0;
}

.holder {
	color: white;
}

.holder img {
	max-width: 100%;
	display: inline-block;
	object-fit: contain;
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.pieceText {
	float: right;
}

.navbar {
	background: #1b1c1f;
}

.top-nav li {
	position: right;
}

.navbar-brand {
	font-weight: 300;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 300;
}

.navbar.scrolled {
    background: rgba(0,0,0,0);
    transition: background 500ms;
}